@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Libre Baskerville', Helvetica, sans-serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 95vh;
  margin: auto;
  overflow: hidden;
}

.business {
  font-size: 16vw;
  text-align: center;
}
