@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Libre Baskerville', Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 95vh;
  margin: auto;
}

.business {
  font-size: 16vw;
  cursor: pointer;
}

@supports (display:grid) {

  main {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "business";
  }

  .business {
    grid-area: business;
  }

}
